.vehicle-title {
  display: flex;
  flex-direction: column;
  text-align:left;
  width: 25%

}

.Spec {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid black

}

.MainCard{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.jumbotron {
    font-size: 12px;
}

.TopSection{
  text-align: left;
}

.vehicle{
  padding: 10px;

}
